.inputGroup input,
.inputGroup textarea {
    width: 100%;
    background-color: var(--second-color);
    padding: 15px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    color: var(--color);
}

.inputGroup textarea {
    resize: none;
    height: 200px;
}