.header {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header.headerActive {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12121212;


}

.logo {
    color: var(--main-color);
}

.navLink a {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    position: relative;
}

.navLink a:hover {
    color: var(--main-color);
}

.navLink a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    background: var(--main-color);
    width: 100%;
    height: 1px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0;
}

.navLink a.active:after {
    opacity: 1;
    bottom: 0;
}

@media (max-width: 991px) {
    .navLink {
        position: absolute;
        width: 200px;
        background-color: var(--background);
        border: 1px solid var(--main-color);
        top: 90px;
        right: 0;
        flex-direction: column;
        gap: 10px !important;
        padding: 10px;
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transition: 0.3;
        -webkit-transition: 0.3;
        -moz-transition: 0.3;
        -ms-transition: 0.3;
        -o-transition: 0.3;
}

    .navLink.active {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}
}