.aaaaaa{

    margin-top: 90px;
}

.name {

    color: var(--main-color);
}

.multiple-text {
    color: var(--main-color);

}

.img-box img {
    --size:400px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--main-color);
    filter: drop-shadow(0px 0px 26px var(--main-color));
    box-shadow: 0px 0px 30px 0px var(--main-color);
}

@media (max-width:991px) {
    .img-box img {
            --size: 350px;}
}

@media (max-width:576px) {
    .img-box img {
            --size: 250px;}
}
.socail a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--main-color);
    box-shadow: 0px 0px 10px 0px var(--main-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.socail a:hover {
    
    box-shadow: 0px 0px 0px 0px var(--main-color) ,
     0px 0px 12px 0px var(--main-color) inset;
}