.project .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project .filter>div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.project .filter>div:hover,
.project .filter>div.active {
    background-color: var(--main-color) !important;
    color: white !important;
}

.project .show {
    margin-top: 30px;
    padding-top: 30px;
}

.project .box {
    position: relative;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.project .box img {
    object-fit: cover;
    width: 100%;
    height: 170px;
}

.demo {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 40%, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    bottom: -100%;
    align-items: center;
}

.project .box:hover .demo {
    bottom: 0;
}

.demo a {
    background: var(--main-color);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px;
    font-size: 15px;
}

.demo h2 {
    color: white;
}

.demo p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: white;
}