.footer {
    background-color: var(--second-color);

}

.copyright {
    font-size: 20px;

}

.toUp {
    padding: 20px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
