.footer {
    background: var(--background);
    border-color: var(--border-color) !important;
}

.footer span {
    letter-spacing: 0.5px;
}

.footer p {
    font-size: 0.9375rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 2rem 0;
    }
}