* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;

}

:root {
  --background: #1f242d;
  --color: white;
  --main-color: #0ef;
  --second-color: #ecfbff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.pointer {

  cursor: pointer;
}

.main-color {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  margin-bottom: 7rem;
}

.main-heading {
  margin: 70px auto;


  text-align: center;
  position: relative;

  width: fit-content;
  padding: 10px 30px;
  font-weight: bold;
}

.main-heading:after {
  content: "";
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(3);
  -webkit-transform: translateX(-50%) scaleX(3);
  -moz-transform: translateX(-50%) scaleX(3);
  -ms-transform: translateX(-50%) scaleX(3);
  -o-transform: translateX(-50%) scaleX(3);
  border: 1px dashed var(--main-color);
}

.btn-main {
  background-color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0 0 10px 3px var(--main-color);
  width: fit-content;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-main:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  box-shadow: 0 0 0 0 var(--main-color);
}

.text-gray {
  color: gray;
}
.h-100vh{
  min-height: 100vh;
}